$custom-tooltip-font-size: 0.875rem;
$custom-tooltip-max-width: 200px;
$custom-tooltip-color: var(--w-body-bg);
$custom-tooltip-bg: var(--w-emphasis-color);
$custom-tooltip-border-radius: 0.25rem;
$custom-tooltip-opacity: 0;
$custom-tooltip-padding-y: 0.25rem;
$custom-tooltip-padding-x: 0.5rem;
$custom-tooltip-arrow-width: 0.8rem;
$custom-tooltip-arrow-height: 0.4rem;
$custom-tooltip-arrow-color: $custom-tooltip-bg;
$custom-tooltip-zindex: 1080;

.custom-tooltip {
    position: absolute;
    z-index: $custom-tooltip-zindex;
    display: block;
    margin: 0;
    font-family: var(--w-font-sans-serif);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    white-space: normal;
    word-spacing: normal;
    font-size: $custom-tooltip-font-size;
    max-width: $custom-tooltip-max-width;
    color: $custom-tooltip-color;
    background-color: $custom-tooltip-bg;
    border-radius: $custom-tooltip-border-radius;
    opacity: $custom-tooltip-opacity;
    pointer-events: none;

    &.show,
    &.fade {
        opacity: 0.9;
    }

    transition: opacity 0.15s linear;

    .custom-tooltip-arrow {
        position: absolute;
        display: block;
        width: $custom-tooltip-arrow-width;
        height: $custom-tooltip-arrow-height;

        &::before {
            position: absolute;
            content: "";
            border-color: transparent;
            border-style: solid;
        }
    }

    &[data-popper-placement^="top"] {
        padding: $custom-tooltip-arrow-height 0;

        .custom-tooltip-arrow {
            bottom: 0;

            &::before {
                top: -1px;
                border-width: $custom-tooltip-arrow-height calc($custom-tooltip-arrow-width / 2) 0;
                border-top-color: $custom-tooltip-arrow-color;
            }
        }
    }

    &[data-popper-placement^="bottom"] {
        padding: $custom-tooltip-arrow-height 0;

        .custom-tooltip-arrow {
            top: calc(-1 * $custom-tooltip-arrow-height
            );

        &::before {
            bottom: -1px;
            border-width: 0 calc($custom-tooltip-arrow-width / 2) $custom-tooltip-arrow-height;
            border-bottom-color: $custom-tooltip-arrow-color;
        }
    }
}

&[data-popper-placement^="left"] {
    padding: 0 $custom-tooltip-arrow-height;

    .custom-tooltip-arrow {
        right: 0;
        width: $custom-tooltip-arrow-height;
        height: $custom-tooltip-arrow-width;

        &::before {
            left: -1px;
            border-width: calc($custom-tooltip-arrow-width / 2) 0 calc($custom-tooltip-arrow-width / 2) $custom-tooltip-arrow-height;
            border-left-color: $custom-tooltip-arrow-color;
        }
    }
}

&[data-popper-placement^="right"] {
    padding: 0 $custom-tooltip-arrow-height;

    .custom-tooltip-arrow {
        left: 0;
        width: $custom-tooltip-arrow-height;
        height: $custom-tooltip-arrow-width;

        &::before {
            right: -1px;
            border-width: calc($custom-tooltip-arrow-width / 2) $custom-tooltip-arrow-height calc($custom-tooltip-arrow-width / 2) 0;
            border-right-color: $custom-tooltip-arrow-color;
        }
    }
}

.custom-tooltip-inner {
    padding: $custom-tooltip-padding-y $custom-tooltip-padding-x;
    color: $custom-tooltip-color;
    text-align: center;
    background-color: $custom-tooltip-bg;
    border-radius: $custom-tooltip-border-radius;
}
}