button:focus {
	outline: none;
}

button.ghost {
	border-radius: 20px;
	border: 1px solid #20c997;
	background-color: #FFFFFF;
	color: #20c997;
	font-size: 12px;
	font-weight: bold;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button.ghost:active {
	transform: scale(0.95);
}

.login-area {
	background-color: var(--w-body-bg);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
	overflow: hidden;
	min-height: 100vh;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
	background-color: var(--w-body-bg);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
}

.form-container h1 {
	color: var(--w-body-color);
	font-weight: bold;
	margin-bottom: 10px;
}

.form-container form {
	position: relative;
	width: 100%;
	max-width: 500px;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.login-area.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.login-area.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {

	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.login-area.right-panel-active .overlay-container {
	transform: translateX(-100%);
}

.overlay {
	background: #0dcaf0;
	background: -webkit-linear-gradient(to right, #20c997, #0dcaf0);
	background: linear-gradient(to right, #20c997, #0dcaf0);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.login-area.right-panel-active .overlay {
	transform: translateX(50%);
}


.overlay {
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.overlay::before,
.overlay::after {
	content: "";
	position: absolute;
	width: 600px;
	height: 600px;
	border-top-left-radius: 40%;
	border-top-right-radius: 45%;
	border-bottom-left-radius: 35%;
	border-bottom-right-radius: 40%;
	z-index: -1;
	transition: transform 0.6s ease-in-out;
}

.overlay::before {
	left: 30%;
	background-color: rgba(69, 105, 144, 0.15);
	transform: translateX(0) scale(1);
	animation: wawes 6s infinite linear alternate;
}

.overlay::after {
	left: 25%;
	background-color: rgba(2, 128, 144, 0.2);
	transform: translateX(0) scale(1);
	animation: wawes 5s infinite linear alternate;
}

@keyframes wawes {
	0% {
		transform: translateY(0) scale(1) rotate(0);
	}

	50% {
		transform: translateY(-20px) scale(1.05) rotate(180deg);
	}

	100% {
		transform: translateY(0) scale(1) rotate(360deg);
	}
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.login-area.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.login-area.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container .social {
	border: 1px solid var(--w-border-color-translucent);
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
	cursor: pointer;
}

.social-container .social:nth-child(1) {
	color: var(--w-blue);
}

.social-container .social:nth-child(2) {
	color: var(--w-red);
}

.social-container .social:nth-child(3) {
	color: var(--w-cyan);
}

.password-strength {
	display: flex;
	align-items: center;
	margin-top: 5px;
}

.password-strength .strength-1 {
	background-color: #ff0000;
	width: 20px;
	height: 5px;
	display: inline-block;
	margin-right: 5px;
}

.password-strength .strength-2 {
	background-color: #ff9900;
	width: 40px;
	height: 5px;
	display: inline-block;
	margin-right: 5px;
}

.password-strength .strength-3 {
	background-color: #ffff00;
	width: 60px;
	height: 5px;
	display: inline-block;
	margin-right: 5px;
}

.password-strength .strength-4 {
	background-color: #00ff00;
	width: 80px;
	height: 5px;
	display: inline-block;
	margin-right: 5px;
}

.password-strength .strength-text {
	font-size: 12px;
	color: #666;
}