img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.owl-nav div {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 35px;
    background: #fff;
    color: #000;
    height: 35px;
    line-height: 36px;
    border-radius: 100%;
    text-align: center;
    font-size: 29px;
    transition: 0.4s;
    margin-top: -60px;
}

.owl-nav div:hover {
    background: #000;
    color: #fff;
}

.owl-nav div.owl-next {
    right: 20px;
    left: auto;
}

.owl-dots {
    text-align: center;
    margin-top: 35px;
}

.owl-dot {
    width: 20px;
    height: 6px;
    border-radius: 5px;
    background: #595a5f;
    display: inline-block;
    margin: 0 5px;
}

.owl-dot.active {
    width: 28px;
    background: #eb315a;
}

.flexbox-center {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.swiper-container {
    overflow: hidden;
}

.swiper-wrapper {
    z-index: 0 !important;
}

.ripple-link {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    outline: none;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--w-body-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--w-body-color);
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 1000;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid var(--w-body-color);
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: spin-loader 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin-loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#container-loader {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.loader-box {
    width: 20px;
    height: 60px;
    background-color: var(--w-primary);
    border-radius: 50px;
    animation: loader 1s linear infinite;
}

#loader1 {
    animation-delay: .1s;
}

#loader2 {
    animation-delay: .2s;
}

#loader3 {
    animation-delay: .3s;
}

#loader4 {
    animation-delay: .4s;
}

#loader5 {
    animation-delay: .5s;
}

@keyframes loader {

    0%,
    100% {
        height: 90px;
    }

    50% {
        height: 20px;
    }
}

.GlowingBackdrop_glowingBackdrop__igxwa {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    opacity: 1
}

.GlowingBackdrop_glowingBackdrop__igxwa svg {
    position: absolute;
    inset: 0;
    margin: auto;
    aspect-ratio: 1.67;
    max-width: 1140px;
    object-fit: cover;
    color: rgb(217 225 228 / 1);
}

.GlowingBackdrop_glowingBackdrop__igxwa svg:where([data-ww-theme=dark], [data-ww-theme=dark] *) {
    color: #2c3437bf;
}

.GlowingBackdrop_glowingBackdrop__igxwa:after {
    position: absolute;
    inset: 0;
    margin: auto;
    aspect-ratio: 1 / 1;
    width: 300px;
    border-radius: 9999px;
    filter: blur(120px);
    content: "";
}

.rank_level-6 {
    background-image: url(../images/rank/6.gif);
    background-size: auto;
    color: transparent;
    -webkit-background-clip: text;
    background-position: center;
    font-weight: 600;
    font-size: 1rem;
}

.rank_level-5 {
    background-image: url(../images/rank/5.gif);
    background-size: auto;
    color: transparent;
    -webkit-background-clip: text;
    background-position: center;
    font-weight: 600;
    font-size: 1rem;
}

.rank_level-4 {
    background-image: url(../images/rank/4.gif);
    background-size: auto;
    color: transparent;
    -webkit-background-clip: text;
    background-position: center;
    font-weight: 600;
    font-size: 1rem;
}

.rank_level-3 {
    background-image: url(../images/rank/3.gif);
    background-size: auto;
    color: transparent;
    -webkit-background-clip: text;
    background-position: center;
    font-weight: 600;
    font-size: 1rem;
}

.rank_level-2 {
    background-image: url(../images/rank/2.gif);
    background-size: auto;
    color: transparent;
    -webkit-background-clip: text;
    background-position: center;
    font-weight: 600;
    font-size: 1rem;
}

.rank_level-1 {
    font-weight: 600;
    font-size: 1rem;
}

.wrapper {
    width: 100%;
    padding-left: var(--w-sidebar-occupy-start, 0);
    padding-right: var(--w-sidebar-occupy-end, 0);
    will-change: auto;
    transition: padding 0.15s;
}

.header.header-sticky>.container-fluid,
.sidebar-header {
    min-height: calc(4rem + 1px);
}

.header.header-sticky>.container-fluid+.container-fluid {
    min-height: 3rem;
}